{% extends 'frame.html' %}

{% block title %}
Login
{% endblock %}

{% block activenav %}
{% if logged_in() %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
</li>
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-2">
      <img class="d-block w-100" src="{{ url_for('static', filename='img/profile_pic.jpg') }}">
    </div>
    
    <div class="col-10">
      <h3> Norah D. </h3>
      <h5> Current Location: </h5> <p> Baltimore, Maryland, USA </p>
      <h5> Favorited Places: </h5> <p> New York, USA | Los Angeles, USA | Paris, France </p>
      <h5> Places Visited: </h5> <p> Tokyo, Japan | Shanghai, China | Seattle, USA</p>
    </div>
  </div>
  <div class = "row">
    <div class="col-12">
      <h5> Age: </h5> 22 
    </div>
  </div>
</div>


{% endblock %}
