{% extends "frame.html" %}



{% block content %}
<form action=""  method="POST">
  <div class="form-group">
    <label for="user_search"> Search Users: </label>
    <div class="autocomplete">
      <div class="row">
	<div class="col-sm-5">
	  <input id="user_search" type="text" name="user_search" placeholder="Search Users..." style="width:150px;" class="form-control" autocomplete="off">
	</div>
	<div class="col-sm-5">
	  <button type="button" class="btn btn-primary" style="width:150px"  id="search" >Add Member</button>
	</div>
      </div>
    </div><br><br>
  </div>
</form>
{% endblock %}

{% block customjs %}
<script type="text/javascript" src="/search.js"> </script>
{% endblock %}

